vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Mar 2010 17:52:16 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|CSSBeast/teaching.html CSSBeast/publications.html CSSBeast/research.html CSSBeast/ProfessionalActivities.html CSSBeast/CoursesTaught.html CSSBeast/index.html
vti_author:SR|UU\\hli
vti_modifiedby:SR|UU\\hli
vti_timecreated:TR|12 Mar 2010 17:14:50 -0000
vti_nexttolasttimemodified:TW|12 Mar 2010 17:49:49 -0000
vti_cacheddtm:TX|12 Mar 2010 17:52:16 -0000
vti_filesize:IR|849
vti_cachedlinkinfo:VX|S|../Pictures/shadow.jpg
vti_cachedsvcrellinks:VX|FSUS|CSSBeast/Pictures/shadow.jpg
