.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }


.floating-box {
    display: inline-block;
    width: 8em;
    text-align: right;
}

.background-color-lightgray {
  background-color: lightgray;
}

#Library {
  width: 84px;
}
#Library:hover {
  content: url('images/new-Li.jpg');
  width: 84px;
}


#a1 #img1 {
  display: none;
}

#a1:hover #img1 {
  display: block;
}

#a2 #img2 {
  display: none;
}

#a2:hover #img2 {
  display: block;
}

#a3 #img3 {
  display: none;
}

#a3:hover #img3 {
  display: block;
}


#a4 #img4 {
  display: none;
}

#a4:hover #img4 {
  display: block;
}


#a5 #img5 {
  display: none;
}

#a5:hover #img5 {
  display: block;
}


#a6 #img6 {
  display: none;
}

#a6:hover #img6 {
  display: block;
}

#figID99 {position: relative;}
#figID99 img{position: absolute;
    right: 0; top: 0;
    height: auto; max-width: 400px;}
