<html>
<head>

    <title>Dr. Max Haifei Li, Associate Professor of Computer Science,
        Union University, Jackson, TN, USA</title>
    <link href="/static/style/LiStyle.css" rel="stylesheet" type="text/css" />

</head>

<body>


<div id="masthead">
    <a href="http://www.uu.edu">
        <img alt="UU Logo"
             src="/public/Pictures/UU.gif"
             height="73" width="200" /></a>&nbsp;
    <img alt="In College"
         src="/public/Pictures/Li-College.jpg"
         height="136" width="84" />
    <img alt="Haifei Li in 1994"
         src="/public/Pictures/Li-afterCollege.jpg"
         height="135" width="93" />
    <img alt="Current picture (circa 2009)"
         src="/public/Pictures/Li-current.jpg"
         height="134" />
    <img alt="2015-10-27"
         src="/public/Pictures/Max-Haifei-Li-2015-10-27.jpg"
         height="136" width="84" />&nbsp;&nbsp;
    <img alt="Chinese Name"
         src="/public/Pictures/Li-ChineseName.png"
         height="35" width="108" />&nbsp;
</div>

<div id="container">

    <div id="left_col">

        <ul>
            <li><a href="index.tmpl.html">Home </a></li>
            <li><a href="/public/publications.html">Publications</a></li>
            <li><a href="/public/CoursesTaught.html">Courses Taught </a></li>
            <li><a href="/public/teaching.html">Teaching Statement </a></li>
            <li><a href="/public/research.html">Research Statement </a></li>
            <li><a href="/public/ProfessionalActivities.html">Professional
                Activities </a></li>
        </ul>

        <p style="text-align: center; padding-top: 10px">
            <a href="http://wangcataractlasik.com/cms/component/allvideoshare/video/latest/285.html?Itemid=17"
               target="_blank"><img src="http://www.wangcataractlasik.com/images/maria_story.jpg" alt="Maria Story" />
            </a></p>
        <p>A God's miracle -- Maria's story. I am deeply touched by
            <a href="http://www.wangvisioninstitute.com">
                Dr. Ming Wang</a>'s Christian faith, kindness and generosity.</p>


    </div>

    <div id="page_content">

        <p>I am a tenured associate professor of Computer Science at Union University,
            Jackson, TN, USA. I received my PhD in Computer Science in 2001, my Master's
            degree in Electrical and Computer Engineering in 1998, both from the
            <a href="http://www.ufl.edu" target="_blank">University of Florida</a>.
            I received
            my Bachelor's degree in Computer Science from
            <a href="http://www.xjtu.edu.cn" target="_blank">Xi'an Jiaotong University
            </a>, Xi'an, China in 1990. </p>

        <p>I teach database, programming language, software engineering, computer
            repair and maintenance, computer ethics and basics of computers. My research
            interests are e-learning, database, e-commerce, automated business negotiation
            and business process management. </p>

        <p>I have balanced academic / industrial experiences. I was an assistant
            professor of Computer Science at <a href="http://www.nyack.edu" target="_blank">Nyack
                College</a> from 2003 to 2004. I was a post-doctoral researcher at
            <a href="http://www.ibm.com" target="_blank">IBM</a>
            <a href="//www.watson.ibm.com/index.shtml" target="_blank">Thomas J. Watson Research
                Center </a>from 2001 to 2003. I was a graduate student at the University of
            Florida from 1996 to 2001. I was a software engineer at China Resources
            Information Technology from 1994 to 1996. I was a software engineer at
            Geophysical Research Institute from 1990 to 1994. </p>

        <p>My office is at PAC (Penick Academic Complex) C-48, Jackson campus of Union
            University.</p>

        <p>My first name is <strong>Max</strong>. My Chinese name is pronounced as<strong>
            High-Fay Lee</strong>. <a href="/public/MaxHaifeiLiCV.docx">My resume</a> in MS Word
            Format. </p>

        <div>

            <p class="MsoNormal"><span>Weekly Schedule, Spring, 2017 </span></p>

        </div>

        <table border="1">

            <tbody><tr>
                <td align="center">Monday
                </td>
                <td align="center">Tuesday
                </td>
                <td align="center">Wednesday
                </td>
                <td align="center">Thursday
                </td>
                <td align="center">Friday
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr style="color: rgb(0, 0, 204);">
                <td align="center">
                    &nbsp;</td>
                <td align="center">
                    &nbsp;</td>
                <td>
                    &nbsp;</td>
                <td align="center">
                    &nbsp;</td>
                <td align="center">
                    &nbsp;</td>
            </tr>
            <tr style="">
                <td align="center">
                    <p class="style1"><span style="color: teal;">10am to 11 am
  Reserved</span><span> </span></p>
                </td>
                <td align="center">
                    <p><span>&nbsp; </span></p>
                    <p class="style1">11am to 12pm Office Hour</p>
                </td>
                <td align="center">
                    <p class="style1"><span style="color: teal;">10am to 11 am
  Reserved</span><span> </span></p>
                </td>
                <td align="center">
                    <p><span>&nbsp; </span></p>
                    <p class="style1">11am to 12pm Office Hour</p>
                </td>
                <td align="center">
                    <p class="style1"><span style="color: teal;">10am to 11 am
  Reserved</span></p>
                </td>
            </tr>
            <tr style="">
                <td><span style="color: red;">12pm to 12:50pm Office Hour</span></td>
                <td align="center"><span style="color: purple;">CSC-235-1 (Computer Ethics) 12:15PM-1:30PM PAC
      C-13</span></td>
                <td><span style="color: red;">12pm to 12:50pm Office Hour</span></td>
                <td align="center"><span style="color: purple;">CSC-235-1 (Computer Ethics) 12:15PM-1:30PM PAC
      C-13</span></td>
                <td><span style="color: red;">12pm to 12:50pm Office Hour</span></td>
            </tr>
            <tr style=""><td align="center">
                <p class="style4"><span style="color: purple;">CSC-105-1 (Survey of Microcomputing Apps) 1PM-1:50PM PAC
  C-1</span></p>
            </td>
                <td align="center">
      <span style="color: red;">CSC-220-1 Computer Repair &amp; Maintenance&nbsp;<br />
      1:40 to 2:55 PAC B-20</span></td>
                <td align="center">
                    <p class="style4"><span style="color: purple;">CSC-105-1 (Survey of Microcomputing Apps) 1PM-1:50PM PAC
  C-1</span></p>
                </td>
                <td align="center">
      <span style="color: red;">CSC-220-1 Computer Repair &amp; Maintenance&nbsp;<br />
      1:40 to 2:55 PAC B-20</span></td>
                <td align="center">
                    <p class="style4"><span style="color: purple;">CSC-105-1 (Survey of Microcomputing Apps) 1PM-1:50PM PAC
  C-1</span></p>
                </td>
            </tr>
            <tr>
                <td class="style5">CSC-455-1 (Programming Languages) 2pm to 2:50pm PAC C-13</td>
                <td>&nbsp;</td>
                <td class="style5">CSC-455-1 (Programming Languages) 2pm to 2:50pm PAC C-13</td>
                <td>&nbsp;</td>
                <td class="style5">CSC-455-1 (Programming Languages) 2pm to 2:50pm PAC C-13</td>
            </tr>
            </tbody></table>



        A great web site for my students:<br />
        <a href="http://www.cheapesttextbooks.com">Price Comparison for Cheap Textbooks</a>


        <p> My friend Donnie Dinh has provided the following wonderful link that is quite useful to
            our Computer Science majors.
            <br />


            <a href="http://www.accreditedonlinecolleges.org/computer-science/">
                Accredited Online Computer Science Degree Guide </a>
            <br />

        </p>
    </div>

    <div id="footer">

        <p align="center"><span>Mailing Address: Max
Haifei Li, PhD<br />
1050 Union University Drive<br />
Jackson, TN 38305 USA<br />
Email (School): <a href="mailto:hli@uu.edu">hli@uu.edu</a><br />
Email (Personal): <a href="mailto:max.li@live.com">max.li@live.com</a><br />
Phone: 731 661 5577<br />
Fax: 731 661 5175<br />
Office Location: Jackson Campus, PAC C-48<br />
<a href="http://www.uu.edu/personal/hli">www.uu.edu/personal/hli</a></span></p>

    </div>

</div>



</body>

</html>

