<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
     integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
     crossorigin="anonymous">

    <link rel="stylesheet"
          href="../static/main.css">



    <title>Max Haifei Li,
        Associate Professor of Computer Science,
        Union University, Jackson, TN 38305</title>

</head>
<body>

<div class="container-fluid">
    <div>
        <h1><em>Basic Information</em></h1>
        <h2>Name: Max Haifei Li / 李海飞</h2>
        <p>Date of Birth: 1969-03-31</p>
        <p>Birthplace:
        <a href="https://en.wikipedia.org/wiki/Xinhua_County">
            Xinhua County</a>,
        <a href="https://en.wikipedia.org/wiki/Hunan">
            Hunan Province</a>,
        <a href="https://en.wikipedia.org/wiki/China">
            China</a>
    </p>
        <p>Workplace: Computer Science Department,
            <a target="_blank" href="http://www.uu.edu">
                Union University</a>
            <br>
            1050 Union University Dr, Jackson, TN 38305 USA
        </p>
        <p style="font-size:200%">
            <a href="../public/PearlsOfLife.docx"><strong>
            Pearls of Life</strong>
        </a>&nbsp;by&nbsp;
            <a href="http://www.drmingwang.com">
                <strong>Dr. Ming Wang</strong></a></p>
        <p>Academic degrees:</p>
             <table class="table table-responsive table-striped
         table-bordered table-hover table-condensed">
              <thead>
              <tr>
                  <td>Degree</td>
                  <td>Year</td>
                  <td>Academic Institution</td>
              </tr>
              </thead>
<tr>
        <td>Doctoral Degree, Computer Science</td>
                  <td>2001</td>
    <td><a href="http://www.ufl.edu">
        University of Florida</a></td>
</tr>
        <tr>
            <td>Master's Degree, Computer and Electrical Engineering</td>
            <td>1998</td>
            <td><a href="http://www.ufl.edu">
                University of Florida</a></td>
        </tr>
        <tr>
            <td>Bachelor's Degree, Computer Science</td>
            <td>1990</td>
            <td><a href="http://www.xjtu.edu.cn">
                Xi'an Jiaotong University</a></td>
        </tr>
             </table>
    </div>
    <div class="row" style="padding-top:40px;
    padding-bottom: 40px">
        <h1>Spring 2018</h1>
        <table class="table table-responsive table-striped
         table-bordered table-hover table-condensed
         text-center">
            <thead>
            <tr>
                <td>Monday</td>
                <td>Tuesday</td>
                <td>Wednesday</td>
                <td>Thursday</td>
                <td>Friday</td>
            </tr>
            </thead>
            <tr>
                <td>10am to 11 am Reserved</td>
                <td><em>9:25am to 10:40am
                    CSC-105-3 Survey of
                    Microcomputing Applications
                    PAC C-1</em></td>
                <td>10am to 11 am Reserved</td>
                <td><em>9:25am to 10:40am
                    CSC-105-3 Survey of
                    Microcomputing Applications
                    PAC C-1</em></td>
                <td>10am to 11 am Reserved</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <strong>11am to 12pm Office Hour</strong>
                </td>
                <td>&nbsp;</td>
                <td><strong>11am to 12pm Office Hour</strong>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong>12pm to 12:50pm Office Hour
                </strong></td>
                <td><samp>CSC-235-1 (Computer Ethics)
                    12:15PM-1:30PM
                    PAC C-13</samp></td>
                <td><strong>12pm to 12:50pm Office Hour
                </strong></td>
                <td><samp>CSC-235-1 (Computer Ethics)
                    12:15PM-1:30PM
                    PAC C-13</samp></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>CSC-105-1
                    (Survey of Microcomputing Apps)
                    1PM-1:50PM PAC C-1
                </td>
                <td><code>CSC-220-1 Computer Repair & Maintenance
                    1:40 to 2:55 PAC B-20</code>
                </td>
                <td>CSC-105-1
                    (Survey of Microcomputing Apps)
                    1PM-1:50PM PAC C-1
                </td>
                <td><code>CSC-220-1 Computer Repair & Maintenance
                    1:40 to 2:55 PAC B-20</code>
                </td>
                <td>CSC-105-1
                    (Survey of Microcomputing Apps)
                    1PM-1:50PM PAC C-1
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <h1><a id="a1" href="#">
            Union University
            <img id="img1" src="../static/images/UU_Crest_Vertical_Color_RGB.png" width="150"/>
        </a> Years!
        </h1>
        <img class=" img-fluid image image-responsive img-circle"
             src="../static/images/old-Li.jpg" id="Library" width="84" height="136" />
        <img src="../static/images/left-arrow-16.gif" height="100" width="125"/>
        <ul>
            <li>Faculty Sponsor for Union University ACM Student Chapter (Group ID 46418) since 2007.</li>
            <li>Taught a Software Engineering SPOC (Small Private Online Course) based on a MOOC
                (Massive Open Online Course) offered by Professor Armando Fox at UC Berkeley EECS.
            Passed CompTIA A+ certification on January 2013.</li>
            <li>Worked with Professor Joel Owen of Pharmaceutics for a research project on pharmacokinetics.</li>
            <li>Coordinator for Union University’s computer repair and maintenance project.</li>

            <li>Pew Summer Research Grant for summer 2009. The title of the grant is
                "A PHP-based Web Frontend for a Molecular Dynamic Computational Software Package."</li>
            <li>Reviewer, IEEE Transactions on Services Computing.</li>
            <li>Editorial Review Board, International Journal of Web Services Research.</li>
            <li>Editorial Advisory Board, Advances in Web Services Research (AWSR) Book Series.</li>
            <li>
                <ul>Four projects with students:
                    <li>"UULinux: Creation of a Custom Linux for the Purpose of Student Learning"
                        with Toyin Adedire Adedokun.</li>
                    <li>"Creation of an Online Pronunciation Dictionary Using Open Source Software"
                        with David Moses.</li>
                    <li>"A Study of Computer Ethics Course Offered by Computer Science
                        Departments in American Universities" with Robert Jacks.</li>
                    <li>"A Database Management System for Tracking the Usage of the Recreation Facility"
                        with Wayne Campbell.</li>
                </ul></li>
            <li><a href="../public/Pictures/MySQLDeveloper5DrLi.pdf">
                Certified MySQL 5.0 Developer</a>.</li>
            <li>Collaborative research with Chemistry Professor Michael Salazar
                on Molecular Dynamics Simulation.</li>
            <li>Publicity chair for IEEE CEC 2005 held in Munich, Germany.</li>
            <li>Program Committee member for IEEE EEE 2005 held in Hong Kong.</li>
            <li>Program Committee member for the International Workshop on Business Process
                Monitoring & Performance Management (BPMPM 2005) held in Copenhagen, Denmark.</li>
            <li>Reviewer for WISE 2005 (6th International Conference on Web Information Systems
                Engineering November 20-22 2005, New York City, New York)</li>
            <li>Teach Courses in Database Management Systems (CSC 321),
                Programming Languages (CSC 455), Computer Ethics (CSC 235) and
                Survey of Microcomputing Applications (CSC 105).</li>
            <li>Published a paper at the 4th International Conference on Web-based Learning
                (ICWL 2005), July 31 – August 3, 2005, Hong Kong, China.</li>
            <li>Presented a paper at SCC 2005, July 11-15, 2005, Orlando, Florida.</li>
            <li>Presented a paper at 2004 Conference of the Mid-Southeast Chapter of
                the ACM, November 11 to 12, Gatlinburg, TN.</li>
        </ul>

    </div>
    <div class="row background-color-lightgray">
        <h1><a id="a2" href="#">
            Years at Nyack College
            <img id="img2" src="../static/images/Nyack-CSG-Black-Full.gif" width="150"/>
        </a>
        </h1>
        <h4>Spent one year at Nyack College. In addition to teaching at Nyack's Rockland Campus (main campus),
            I also taught at Nyack's Manhattan Campus. I drove to a MetroNorth train station, parked there and
        took a train and two subway rides to the campus near New York City's city hall. </h4>
                <ul>
                    <li>MBA-level CIS (Computer Information Systems) specialty courses:
                        BSG613: Database and Knowledge Management Systems and
                        BSG614: Business Systems Analysis and Design.</li>
                    <li>Courses in Computer Science
                    (CSC 112 Introduction to Programming,
                    CSC340 Web Programming and Design, CSC 201 Programming II,
                    CSC 311 Database Concepts, CSC 312 Data Structures and Algorithms)
                    for both the Rockland Campus and the Manhattan Campus of Nyack College.</li>
                    <li>Research on security and privacy negotiation,
                        business negotiation and e-business.</li>
                    <li>Faculty Advisor for the Nyack College
                        ACM Student Chapter.</li>
                    <li>Member of International Editorial Board of
                        the International Journal of Web Services Research.</li>
                    <li>Publicity Chair of ICWS 2004.</li>
                    <li>Guest Editor, ACM Multimedia Systems,
                        special issue on multimedia software engineering,
                        Vol. 9, Number 5, March 2004.</li>
                </ul>
    </div>
    <div class="row">
        <h1><a id="a3" href="#">
            IBM Years
            <img id="img3" src="../static/images/IBM-Thomas-Watson-Research-Center.jpg" width="620"/>
        </a>
        </h1>
        <ul>
            <li>Participated in the BE4WS (Business Explorer for Web Services) project.
                BE4WS is a web-based tool to query UDDI
                (Universal Description, Discovery and Integration) repositories.
                It can aggregate query results returned from multiple UDDI repositories
                and eliminate redundant information.
                Our research result has been published in IBM Alphaworks
                (http://www.alphaworks.ibm.com/tech/be4ws) and
                has been incorporated into WSTK (Web Services Toolkit) 3.1,
                IBM’s popular and free development toolkit for web services.</li>
            <li>Worked on the issue of tooling and configuration for BPSM
                (Business Process Solution Management).
                Our research on BPSM project will be aligned with IBM’s
                strategy on BAM (Business Activity Monitoring).
                BPSM is a project involving different IBM departments.</li>
            <li>Designed BPCL (Business Process Commitment Language) for BPSM.
                BPCL allows business analysts to conveniently define external commitments
                (among trading partners) and internal commitments
                (among internal departments) in an XML Schema-based language.
                BPCL is a part of the BPSM project.</li>
            <li>Participated in the development of two pilots:
                Nekema and IBM MD (Microelectronics Division) SAR (Sense And Respond).</li>
            <li>Guest editor for a special issue of ACM/Springer Multimedia Systems.</li>
            <li>Associate editor of SIGecom Exchanges,
                newsletter for the ACM Special Interest Group on Electronic Commerce.</li>
            <li>Session chair of ICWS 2003 (International Conference on Web Services).</li>
            <li>Web chair and reviewer for WECWIS
                (Workshop on Advanced Issues of E-Commerce and
                Web-Based Information Systems) 2002.</li>
            <li>Co-web chair of MSE 2002 (International Symposium on Multimedia Software Engineering).</li>
            <li>Program committee member of SAINT
                (International Symposium on Applications and the Internet) 2003.</li>
            <li>Reviewer of Electronic Commerce Research Journal.</li>
            <li>Reviewer of Hawaii International Conference On
                System Sciences, 2003 (HICSS-36).</li>
            <li>Board member of internal newsletter of the department of
                E-Business Solutions and Autonomic Computing,
                IBM Thomas J. Watson Research Center.</li>
        </ul>
    </div>
<div class="row background-color-lightgray">
    <h1><a id="a4" href="#">
        Florida Years
        <img id="img4"
             src="../static/images/florida-gators-new-logo.jpg"
             width="150"/>
    </a></h1>
        Participated in EECOMS (Extended Enterprise Coalition
    for Integrated Collaborative Manufacturing Systems,
    www.ciimplex.org), a NIST funded, multi-million dollar,
    multi-university, multi-industrial company project managed by
    CIIMPLEX consortium and led by IBM.
    The following are accomplishments in detail.
</p>
    <ul>
        <li>Proposed a negotiation decision model to incorporate concepts
            such as negotiation contexts,
            negotiation policies and negotiation strategies.</li>
        <li>Designed rules to represent negotiation policy, strategy and decision/action plan.</li>
        <li>Extended the EECOMS negotiation server to include more decision/action rules.</li>
        <li>Extended the existing negotiation life cycle to include a
        “post-negotiation analysis” phase and a feedback loop.</li>
        <li>Designed and implemented negotiation messages
        based on XML BODs (Business Object Document) for business negotiation.</li>
    </ul>
        <p>Participated in CIIMPLEX (Consortium for Integrated
            Intelligent Manufacturing Planning and Execution,
            www.ciimplex.org), a NIST funded, multi-million dollar,
            multi-university, multi-industrial company project led by IBM.
            The following are accomplishments in detail.
        </p>
    <ul>
        <li>Designed and implemented EXPRESS+ to model BOD for application integration.</li>
        <li>Modeled conceptual BODs using XGTOOLS.</li>
        <li>Implemented the data loading program from XGTOOLS to the Metadata Manager.</li>
        <li>Implemented the validation facility of BOD using ECAA
            (Event, Condition, Action, and Alternative action) rules.</li>
    </ul>
    <p>
        Participated in NIIIP
        (National Industrial Information Infrastructure Protocols,
        www.niiip.org), a DARPA funded, multi-million dollar,
        multi-university, multi-industrial company project.
        I took part in the late stage of the project.
    </p>
    <ul>
        <li>Integrated K runtime (code generated by the K compiler)
            with the Query Process Engine (QPE) of OSAM*.KBMS,
            a part of the NIIIP project.</li>
        <li>Studied the feasibility of replacing the underlying storage manager
            EXODUS of the KBMS with ODBC and
            a relational database management system.</li>
    </ul>
</div>

    <div class="row">
        <h1><a id="a5" href="#">
            Beijing, China Years
            <img id="img5"
                 src="../static/images/Forbidden-City-1.jpg"
                 width="150"/>
        </a></h1>
        <ul>
            <li>Developed prototype systems for customers’ projects with Ingres.
                Projects are from different fields such as petroleum exploration,
                air traffic control, electrical energy research, and TV broadcasting.</li>
            <li>Supported Ingres customers.</li>
            <li>Taught CA-Openlngres and CA-OpenROAD courses.</li>
            <li>Was consulted on the object management features of CA-OpenIngres.</li>
        </ul>
    </div>
    <div class="row background-color-lightgray">
        <h1><a id="a6" href="#">
            Hebei, China Years
            <img id="img6"
                 src="../static/images/hebei_map.jpg"
                 width="150"/>
        </a></h1>
        <ul>

            <li>Attended the user requirements discussion for GRIstation project,
                and drafted some project documents (Data Dictionary Entries, etc).</li>
            <li>Participated in the OO design of GRIstation project in Plano, Texas
            from November 1992 to February 1993.  Used OSD tools (Booch OO Methodology)
            for the design of the seismic interpretation part of the project.
            Defined most of the C++ classes related to seismic interpretation.
            Attended the ObjectStore training class.</li>
            <li>Designed and implemented the C++ classes related to the storage of
            geologic data after returning from the US.</li>
            <li>Instructed software professionals in the Software Development Center
            about how to use ObjectStore. Did most of the maintenance work for ObjectStore.</li>
            <li>Received intensive training on courses:
            UNIX and C, X window system, Motif GUI, Advanced Data Structures,
            Computer Graphics, C++ Programming Language and OO Design.</li>
            <li>Studied GRISYS/90 seismic data processing system, an award winning system.</li>
            <li>Independently designed and implemented a GRISYS/90
            seismic data processing module called KFAMSA
            (K – F domain Amplitude Spectra Analysis).</li>
            <li>Received intensive training on petroleum exploration technique,
            a prerequisite for petroleum software development.</li>
        </ul>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
</script>

<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js">
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
</script>
</body>
</html>