<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en-us" http-equiv="Content-Language" />
<title>Professional Activities of Max Haifei Li, Associate Professor of Computer Science, Union University</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="style/LiStyle.css" rel="stylesheet" type="text/css" />


</head>

<body>

<div id="masthead">
	<a href="http://www.uu.edu">
	<img alt="UU Logo" src="Pictures/UU.gif" height="73" width="200" /></a>&nbsp;
	<img alt="In College" height="136" src="Pictures/Li-College.jpg" width="84" />
	<img alt="Current picture (circa 2009)" height="134" src="Pictures/Li-current.jpg" width="86" />
	<img alt="Haifei Li in 1994" height="135" src="Pictures/Li-afterCollege.jpg" width="93" /> <img alt="2015-10-27" src="Pictures/Max-Haifei-Li-2015-10-27.jpg" height="136" width="84" /><img alt="Chinese Name" height="35" src="Pictures/Li-ChineseName.png" width="108" />&nbsp; </div>
<div id="container">
	<div id="left_col">
		<ul>
			<li><a href="index.tmpl.html">Home </a> </li>
			<li><a href="publications.html">Publications</a></li>
			<li><a href="CoursesTaught.html">Courses Taught </a> </li>
			<li><a href="teaching.html">Teaching Statement </a> </li>
			<li><a href="research.html">Research Statement </a> </li>
			<li><a href="ProfessionalActivities.html">Professional Activities 
			</a> </li>
		</ul>
	</div>
	<div id="page_content">
<h1>Professional Activities</h1>

<p> I have finished MIT Big Data online course offered through edx.org. Here is the 
<a href = "professional/MIT-Big-Data-Haifei-Li.pdf">certificate</a>
</p>

<p>I am a Certified MySQL 5.0 Developer. I have attached the
<a href="Pictures/MySQLDBA5DrLi.pdf" target="_blank">certificate in
PDF format</a>. I am also a Certified MySQL 5.0 Database Administrator. I have
attached the <a href="Pictures/MySQLDeveloper5DrLi.pdf" target="_blank">
    certificate in PDF format</a>.  You can verify it at:

<a href="http://www.mysql.com/certification" target="_blank">
www.mysql.com/certification</a>.<p>

<p>I am a Zend Certified Engineer (for PHP 5).<br/>
Candidate ID: ZEND003455 and Registration Number: 226476830<br/>
I have attached the <a href="Pictures/ZCE5DrLi.pdf" target="_blank">
certificate in PDF format</a>.
Check the following online version of the certificate:
<a href="http://www.zend.com/store/education/certification/yellow-pages.php
#show-ClientCandidateID=ZEND003445"
target="_blank">
    http://www.zend.com/store/education/certification/yellow-pages.php
    #show-ClientCandidateID=ZEND003445
</a>.</p>

<p> If you are looking for <a href="http://www.computeroilchange.com">computer repair jackson TN</a>, 
you should have a look at <a href="http://www.computeroilchange.com">computer oil change</a>, a company
specializing in computer repair and maintenance. I founded the company on May 21, 2010.
I choose the name because a computer needs regular maintenance, just like a car needs "oil change".</p>

<p>Senior Member of IEEE.</p>

<p>Member of ACM.</p>

<p>Publicity chair for IEEE CEC 2005.</p>

<p>Program Committee member for IEEE EEE 2005.</p>
<p>Faculty advisor for ACM student chapter at Union .</p>
<p>Faculty advisor for ACM student chapter at Nyack College.</p>

<p>Founding member of the international editorial board of International Journal
of Web Services Research.</p>

<p>Associate editor of ACM SIGecom Exchanges.</p>

<p>Publicity Chair of ICWS 2004.</p>

<p>Guest Editor, ACM Multimedia Systems, special issue on multimedia software
engineering, Vol 9, Number 5, March 2004.</p>


	</div>
	<div id="footer">
		<p>Max Haifei Li, PhD<br />
		Associate Professor of Computer Science<br />
		Union University<br />
		1050 Union University Drive<br />
		Jackson, TN 38305 USA<br />
		Email: <a href="mailto:hli@uu.edu">hli@uu.edu</a><br />
		Phone: 731 661 5577<br />
		Fax: 731 661 5175<br />
		office: Jackson Campus, PAC C-48<br />
		<a href="http://www.uu.edu/personal/hli">www.uu.edu/personal/hli</a></p>
	</div>
</div>

</body>

</html>
