<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en-us" http-equiv="Content-Language" />
<title>Teaching Statement, Max Haifei Li</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="style/LiStyle.css" rel="stylesheet" type="text/css" />


</head>

<body>

<div id="masthead">
	<a href="http://www.uu.edu">
	<img alt="UU Logo" src="Pictures/UU.gif" /></a>&nbsp;
	<img alt="In College" height="136" src="Pictures/Li-College.jpg" width="84" />
	<img alt="Current picture (circa 2009)" height="134" src="Pictures/Li-current.jpg" width="86" />
	<img alt="Haifei Li in 1994" height="135" src="Pictures/Li-afterCollege.jpg" width="93" /> <img alt="2015-10-27" src="Pictures/Max-Haifei-Li-2015-10-27.jpg" height="136" width="84" /><img alt="Chinese Name" height="35" src="Pictures/Li-ChineseName.png" width="108" />&nbsp; </div>
<div id="container">
	<div id="left_col">
		<ul>
			<li><a href="index.tmpl.html">Home </a> </li>
			<li><a href="publications.html">Publications</a></li>
			<li><a href="CoursesTaught.html">Courses Taught </a> </li>
			<li><a href="teaching.html">Teaching Statement </a> </li>
			<li><a href="research.html">Research Statement </a> </li>
			<li><a href="ProfessionalActivities.html">Professional Activities 
			</a> </li>
		</ul>
	</div>
	<div id="page_content">
       <h1>TEACHING STATEMENT</h1>
     
      <h2>Max Haifei Li</h2>
      <p>Teaching is an important part of my job as a professor, and a great source of inspiration to my research studies. Students are the very reason that universities exist. Teaching is a priority for faculty members. I believe that a good professor must be an effective teacher. Throughout my years as a student, I fully understand the importance of teaching to the growth of students. My Master’s and Ph.D. advisor Professor Stanley Y. W. Su at the University of Florida posted a paper in his office. It essentially says that “The student is the most important person on the campus…not dependent on us. We are dependent on them…We are not doing them a favor by serving them. They are doing us a favor by giving us the opportunity to do so.” I totally agree with it and I think my advisor has done a wonderful job to implement it. His dedication to teaching has greatly influenced his students and I have benefited a lot from his teaching.</p>
        
       <p> The objective of teaching is to stimulate students' interest in the subject and educate them in developing aptitude and analytical skills for problem solving. I do not believe in spoon-feeding lectures or handout notes without providing insights and fundamental concepts. A class should be challenging yet interesting, where students have ample opportunities to express original ideas and thoughts.</p>
        
        <p>I would emphasize the importance of getting feedbacks from students. My teaching will be adaptive to the needs of students. Depending on the content of the courses and student composition, I would like to arrange different subjects and have different difficulty levels for each lecture I teach. Specifically, I would like to get academic background information about students as much as possible, by one-to-one interview with students, questionnaires, and information from former instructors of the same course, so that I can better prepare for lectures.</p>
        
        <p>I have always been enthusiastic about explaining to others what I know because it is extremely satisfying and it strengthens my own understanding of the subject. In my opinion, a classroom is a place for mutual learning, where interaction with students leads to deeper understanding of the teaching materials and even new research topics.</p>
        
        <p>In addition to academic knowledge, I also want to emphasize the importance of academic integrity during my teaching. A student not only learns knowledge from a professor, but also the manner that a professor treats students and his/her peers. I would like to treat students as my most important customers. They are the ultimate judges of my professional careers. </p>
	</div>
	<div id="footer">
		<p>Max Haifei Li, PhD<br />
		Associate Professor of Computer Science<br />
		Union University<br />
		1050 Union University Drive<br />
		Jackson, TN 38305 USA<br />
		Email: <a href="mailto:hli@uu.edu">hli@uu.edu</a><br />
		Phone: 731 661 5577<br />
		Fax: 731 661 5175<br />
		office: Jackson Campus, PAC C-48<br />
		<a href="http://www.uu.edu/personal/hli">www.uu.edu/personal/hli</a></p>
	</div>
</div>

</body>

</html>
